@import "./sass/variables";
body {
  color: $gray33;
  font-size: $html-font-size;
  width: 100%;
}

.MeliApp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
